html,body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  letter-spacing: 0.9px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: url(../img/sky.png);
  font-weight: bold;
  text-transform: uppercase;
  background-size: cover;
}
html:not(:hover), body:not(:hover) {
  background-color: #157DEC;
}
header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: x-large;
}
.profile-image {
  border-radius: 50%;
  width: 15%;
  margin: 2%;
}
.button-action {
  margin-bottom: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.button {
  background-color: transparent;
  box-shadow: 1px 1px 10px 2px white;
  text-decoration: none;
  color: white;
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 1rem;
  font-size: medium;
  white-space: nowrap;
  border-radius: 0.3rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.button:hover {
  color: white;
  box-shadow: 1px 1px 10px 4px red;
}
.button:active {
  transform: translate(1.2px, 1.2px);
}
nav {
  background-color: #2a52be;
  font-size: small;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 100;
  white-space: nowrap;
  box-shadow: 1px 1px 10px 1px red;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.8rem 0.8rem;
}
nav a:hover {
  color: white;
  text-decoration: none;
  box-shadow: 1px 1px 10px 4px red;
}
section {
  min-height: 100vh;
}
.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}
.projects-p, .contact-p {
  font-size: 45px;
  color: black;
  margin: 10%;
}
#projects, #contact {
  display: flex;
}
.row {
  display: inline-flex;
  overflow: hidden;
  margin-top: 3rem;
}
.row-img {
  transition: all 3s;
  border-radius: 0.2rem;
}
.row-img:hover {
  transform: scale(1.1);
}
.button-img {
  margin-top: 2rem;
}
.button-img-first {
  margin-left: 5.2rem;
  list-style-type: none;
}
.button-img-second {
  text-align: -webkit-center;
  margin-left: 3rem;
  list-style-type: none;
}
.tools {
  color: white;
  list-style-type: none;
  margin-top: 3rem;
  margin-left: 3.5rem;
}
.contact-list {
  padding: 0;
}
.contact-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: transform 1.5s ease;
}
.contact-list li {
  display: inline-block;
  padding: 0.8rem 0.8rem;
}
.contact-list li:hover {
  transform: scale(1.1);
}
footer {
  text-align: center;
  overflow: hidden;
}
.footer-text {
  color: white;
  font-size: x-small;
}
@media screen and (max-width: 800px) {
  header {
    font-size: medium;
  }
  .button {
    font-size: xx-small;
  }
  nav {
    font-size: xx-small;
    background-color: #2a52be;
    box-shadow: 1px 1px 10px 1px red;
  }
}