html, body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  letter-spacing: 0.8px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  display: flex;
  height: 100vh;
  background-color: goldenrod;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: x-large;
}

blockquote {
  font-size: large;
  border: 2.5px solid whitesmoke;
  padding: 1rem;
}

blockquote a {
  text-decoration: none;
  color: white;
}

blockquote a:hover {
  font-size: large;
  background-color: mediumturquoise;
  box-shadow:0 0 0 1rem mediumturquoise;
}

nav {
  border-bottom: 3.5px solid mediumturquoise;
  position: sticky;
  top: 0;
  background-color: grey;
  overflow: hidden;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.8rem 0.8rem;
}

nav a:hover {
  color: mediumturquoise;
  text-decoration: none;
}

section {
  min-height: 100vh;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 3rem;
  letter-spacing: 2px;
}

#projects {
  background-color: green;
}

.projects-p, .contact-p {
  font-size: 50px; 
  font-weight: bold;
  color: black;
  margin: 10%;
}

.row {
  display: inline-flex;
}

.row-img {
  transition: transform 0.7s ease-in-out;
}

.row-img:hover {
  transform: scale(1.1);
}

#contact {
  display: flex;
  background-color:red;
}

.contact-list {
  padding: 0;
}

.contact-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: transform .5s ease;
}

.contact-list li {
  display: inline-block;
  padding: 0.8rem 0.8rem;
}

.contact-list li:hover {
  transform: scale(1.1);
}

footer {
  background-color: red;
  text-align: center;
  overflow: hidden;
}

.footer-text {
  color: white;
  font-size: small;
}